body
{
    background-color: rgb(111, 222, 142);
}

h1
{
    color: rbg(38, 0, 255);
    background-color: cornsilk;
}

#show_sketch
{
    float: right;
}

#timer
{
    float: right;
    font-size: 30px;
}

#score
{
    float: left;
    font-size: 30px;
}

.text
{
    background-color: rgb(111, 222, 142);
    color: red;
}

